#i-like-surprises {
	overflow-y: scroll;
	height: 8rem;
}

.container-fluid > h3{
    text-align: center;
}

#ml {
	margin-left: 0rem;
}

.CircularProgressbar{
    max-height: 8rem;
}

#overall-score-row {
    justify-content: center;
    font-weight: 500;
    color: #01579b
}

#reviews-rating {
	display: flex;
	width: 100%;
    justify-content: space-between;
    padding: 1.5rem 1rem 0rem 1rem;
}
hr{
    width: 100%;
}

#reviews-rating > div > .dropdown {
	display: inline;
}

#reviews-rating h3{
    color: #01579b;
    margin-bottom: 0;
    font-family: Roboto;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;
text-align: left;

}

#dropdown-basic {
    /* background-color: #01579b; */
    background: none;
    border: none;
    padding: 0;
}

#dropdown-basic:focus {
    outline: none !important;
}

.dropdown *{
	color: black !important;
}

.location img, .phone-number img{
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.location, .phone-number{
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 18px ;
}
.buss-name {
    margin-left: 15px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 55px;
 }
 @media only screen and (max-width :662px) {
.buss-name{
display: flex;
justify-content: center;
}
.contain{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

 
 .verifyBuss {
     margin: 10px -15px;
     border: none !important;
     border-radius: 0px !important;
 }
}
@media screen and (min-width : 662px) {
 }
/*.dtsl{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;
}*/
.linkToWrite{
    padding: 6px;
    background: #EC4A4A;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 0px 0px 8.5px 0px;

}
.linkToWrite:hover{
    box-shadow: 0px 5px 5px 2px rgba(236, 74, 74, 0.5);
    text-decoration: none;
}
.addPhotos{
    background-color: transparent !important;
    color: #01579B !important;
    border-radius: 10px;
    border: 1.1px solid #9C9C9C !important;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.addPhotos:hover{
color: #fff !important;
background: #01579b !important;
}
.verifyBuss{
background: linear-gradient(180deg, rgba(96, 150, 192, 0.5) 0%, rgba(96, 150, 192, 0) 100%);
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 8px;
padding: 15px;
}
.vector{
display: flex;
justify-content: center;
margin-bottom: 1rem;
}
.vector > img {
    width: 100px;
}
.btn-col{
    background: #01579B !important;
}