#login-modal-title {
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1rem;
}

#login-modal-title span{
    /* width: 2rem;
    height: 2rem; */
    padding: .5rem;
    background: brown;
}

.form-group .form-control {
	border: 2px solid rgb(21, 81, 131);
}

#forgot-password {
	text-decoration: underline;
	text-align: right;
}

#login-button {
	margin-top: 1rem;
	width: 60%;
	background-color: rgb(21, 81, 131);
	border-radius: 3rem;
	/* height: 2rem; */
	/* text-align: center; */
}

#login-button-container {
	display: flex;
	justify-content: center;
}

#login-button-google {
	margin-top: 1rem;
	width: 80%;
	background-color: white;
	border: 2px solid rgb(128, 177, 218);
	border-radius: 3rem;
	color: black;
}

.google-button-text {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: relative;
}

.google-button-text img {
	height: 1.2rem;
	width: 1.2rem;
	/* margin-right: 2rem; */
	left: 5%;
	position: absolute;
}

#no-account {
	text-align: left;
	margin-top: 0.5rem;
}

#no-account span {
	text-decoration: underline;
}

@media only screen and (max-width: 400px) {
	.google-button-text img {
		display: none;
	}
}
