.review{
    width: 100%;
    padding: 0 1rem;
}

.img-small{
    width: 1rem;
    height: 1rem;
}

.img-mid{
    width: 2rem;
    height: 2rem;
    /* margin-right: 2rem; */
}

.review-user{
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 1rem !important;
    padding: 0 !important;
    vertical-align: bottom;
}

.ph-0{
    padding: 0% !important;
}

#review-comment{
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    /* white-space: wrap; */
}
.CircularProgressbar .CircularProgressbar-path{
    stroke:#01579B !important;
    ;
}