
@media (min-width: 768px)
{
    .card-rev {
    flex: 0 0 25%;
    margin-right: 15px;
    margin-bottom: 3rem;
    cursor: pointer;
    transition: 1s ;
}

.card-rev:hover{
    transform: scale(1.02, 1.02); 
  box-shadow: 4px 4px 34px 2px rgba(0, 0, 0, 0.25);
}
}
.card-rev {
    background-color: rgba(0,0,0,.03);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-bottom: 3rem;

}
.tc {
text-align: center!important;
text-decoration: underline;

}
.grid-img {
flex-shrink: 0;
width: 100%;
border-top-left-radius: 12px;
border-top-right-radius: 12px;
height: 321px;
object-fit: cover;
}
@media (min-width: 768px)
{
    .card-deck-rev {
    display: flex;
    flex-flow: wrap;
    margin-right: -15px;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}
}
.footer-review {
        padding: .75rem 1.25rem;
        border-top: 1px solid rgba(0,0,0,.125);
    }

.footer-review:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
@media (max-width : 768px){
    .card-deck-rev {
            padding: 20px;
        
    }
}
.rev-cards{
    display: flex;
    align-items: baseline;
    margin-bottom: 3rem;
}
.v {
    text-decoration: underline;
}
.review-3{
    width: 70%;
    font-size: 12px;
}
.sd {
    display: flex;
    justify-content: space-between;
}
.guide {
    font-family: Roboto;
font-size: 18px;
font-style: italic;
color: black !important;
opacity: 0.6;
font-weight: 300;
line-height: 21px;
letter-spacing: 0em;
text-align: center;

}
.review-h3 {
    width: 100%;
}
.guide:hover {
    color:#007bff !important;
}
.review-h3 >h3 {
    text-decoration: underline;
}
.card-body{
    padding: 1rem !important;
}

.load-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}