@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
a {
  color: #ffffff !important;
  text-decoration: none;
  
}

.a-color {
  color: #007bff !important;
}

#root, body, html{
  /* overflow: hidden; */
  height: 100%;
  /* min-height: 100vh; */
}

*{
  box-sizing: border-box;
  /* color: white; */
}
.inputsearch{
  width: 0;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.inputsearch:focus {
  width: 250px;
}
.text-bold {
  font-weight: bold;
}
.display {
  display: flex;
  justify-content: space-around;
  margin-top: 7rem;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
.avatar-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.prod {
  display: block;
  /*width: 260px;
  margin: 15px; */
  height: 220px;
  margin: 0 35px
}
.mts{
margin-top: 0.7rem !important;
}
.top-buss {
  width: 100%;
  overflow: hidden;
}

.product-slides {
  display: flex;
  width: 200%;
  margin: 0 -15px;
  animation: bannermove 10s linear infinite;
}

article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-4*290px));
  }
}
.h5{
  color: #01579B;
  text-decoration: underline;
}
.robot {
  font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}