
a {
  color: #ffffff !important;
  text-decoration: none;
  
}

.a-color {
  color: #007bff !important;
}

#root, body, html{
  /* overflow: hidden; */
  height: 100%;
  /* min-height: 100vh; */
}

*{
  box-sizing: border-box;
  /* color: white; */
}
.inputsearch{
  width: 0;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
.inputsearch:focus {
  width: 250px;
}
.text-bold {
  font-weight: bold;
}